.jumbotron
  .container
    %h1 LeftySeth
    %p Get ready for LeftySeth...
    %p
      %a.btn.btn-primary.btn-lg{:href => "#", :role => "button"} Learn more &#187;
.container
  / Example row of columns
  .row
    .col-md-4
      %h2 Business Development
      %p Platform for development of new business models and creating platforms to reach customers and gain traction for revenue.
      %p
        %a.btn.btn-default{:href => "#", :role => "button"} View details &#187;
    .col-md-4
      %h2 Application Support
      %p Development of prototype applications to push forward with business models including e-commerce, data analtyics and social sourcing
      %p
        %a.btn.btn-default{:href => "#", :role => "button"} View details &#187;
    .col-md-4
      %h2 Consumer Analytics
      %p Evaluation of the greatest engagement platforms that deliver results from your customers.
      %p
        %a.btn.btn-default{:href => "#", :role => "button"} View details &#187;
  %hr/
  %footer
    %p &#169; 2016 LeftySeth, LLC.
/ /container
